/* Default Navbar Link Style */
.navbar-nav .nav-link {
    color: var(--coolgray-90);  /* Default text color */
    transition: all 0.3s ease; /* Smooth transition */
}

/* Hover Effect */
.navbar-nav .nav-link:hover {
    color: var(--primary-red);  /* Change text color on hover */
}

.dropdown-menu .dropdown-item:hover {
    background-color: var(--primary-red);  /* Hover color */
    color: white;  /* Change text color on hover */
}

#home-title {
    color: var(--primary-red);
}

/* FullCalendar Styling */
.fc {
    font-family: var(--body-m-font-family);
}

.fc-toolbar-title {
    font-family: var(--heading-4-font-family);
    font-weight: var(--heading-4-font-weight);
    color: var(--secondary-blue);
}

.fc-event-title {
    font-family: var(--body-m-font-family);
}

.fc-daygrid-day-number {
    font-family: var(--body-m-font-family);
}

.fc-event-time {
    font-family: var(--body-m-font-family);
}