/* Custom Theme Variables */
:root {
    --primary: oklch(0.705 0.213 47.604); /* orange 500 */
    --secondary: oklch(0.592 0.249 0.584); /* pink 600 */
}
/* FullCalendar Styling */
.fc-toolbar-title {
    font-weight: 600;
    color: var(--secondary) ;
}

/* Drag and Drop Styling */
.drop-zone {
    border: 2px dashed var(--secondary);
    text-align: center;
    cursor: pointer;
  }

  .drop-zone .file-info {
    display: none;
  }
  .drop-zone .file-info span {
    color:  var(--secondary);
  }
