/* Custom Theme Variables */
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* FullCalendar Styling */
.fc-toolbar-title {
  font-weight: 700;
  color: var(--color-slate-700);
}

.fc-event {
  box-shadow: none !important;
}

.fc-button {
  transition-duration: 300ms;
}

/* FullCalendar Dark Mode */
html.dark .fc-theme-standard td,
html.dark .fc-theme-standard tr,
html.dark .fc-theme-standard th {
  border-color: var(--color-neutral-700);
  color: var(--color-neutral-200);
}

html.dark .fc-toolbar-title {
  font-weight: 700;
  color: var(--color-slate-500);
}

html.dark .fc-scrollgrid,
html.dark .fc-daygrid-day,
html.dark .fc-timegrid-slot,
html.dark .fc-col-header-cell,
html.dark .fc-timegrid-axis-frame {
  border-color: var(--color-neutral-700);
}

/* Customize all buttons */
html.dark .fc-button {
  background-color: var(--color-slate-500); /* Set button background color */
  border-color: var(--color-slate-500); /* Set button border color */
  color: var(--color-neutral-100); /* Set text color */
}

/* Hover effect for buttons */
html.dark .fc-button:hover {
  background-color: var(--color-slate-700); /* Set hover background */
  border-color: var(--color-slate-700); /* Set hover border */
  color: var(--color-neutral-50); /* Set hover text color */
}

/* Style for the active/selected button */
.fc-button-active {
  background-color: var(
    --color-slate-700
  ) !important; /* Change background color */
  border-color: var(--color-slate-700) !important; /* Change border color */
}

/* button styling */
.button-spinner {
  border: 2px solid transparent;
  border-top: 2px solid white;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: spin 0.6s linear infinite;
  margin-right: 0.5em;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
