/* Custom Theme Variables */
:root {
    --primary: var(--color-orange-500); /* orange 500 */
    --secondary: var(--color-pink-600); /* pink 600 */
}
/* FullCalendar Styling */
.fc-toolbar-title {
    font-weight: 600;
    color: var(--secondary) ;
}

/* Drag and Drop Styling */
.drop-zone {
    border: 2px dashed var(--);
    text-align: center;
    cursor: pointer;
  }

  .drop-zone .file-info {
    display: none;
  }
  .drop-zone .file-info span {
    color:  var(--color-neutral-300);
  }
