
<div class="w-full mx-auto max-w-screen-xl py-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"> Coded with love by Kaitlyn, Michael, and Timothy
</span>
<ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
    <li>
        <a href="{{ url_for('home') }}" class="hover:underline me-4 md:me-6">Home</a>
    </li>
    <li>
        <a href="{{ url_for('update') }}"class="hover:underline me-4 md:me-6">Update Availability</a>
    </li>
    <li>
        <a href="{{ url_for('view') }}" class="hover:underline me-4 md:me-6">View Schedule</a>
    </li>
</ul>
</div>
