<!DOCTYPE html>
<html lang="en">

<head>
  <!--Dark mode toggle-->
  <script>
    (function () {
      const savedTheme = localStorage.getItem('theme');
      const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
      const html = document.documentElement;

      if (savedTheme === 'dark' || (!savedTheme && prefersDark)) {
        html.classList.add('dark');
      } else {
        html.classList.remove('dark');
      }
    })();
  </script>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="csrf-token" content="{{ csrf_token() }}">

  <!-- Boxicons -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- FullCalendar Styles and Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.15/index.global.js"
    integrity="sha512-3I+0zIxy2IkeeCvvhXUEu+AFT3zAGuHslHLDmM8JBv6FT7IW6WjhGpUZ55DyGXArYHD0NshixtmNUWJzt0K32w=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Flowbite -->
  <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}" />
  <link rel="icon" href="{{ url_for('static', filename='img/Logo.png') }}" />

  <!-- Set Title of Page -->
  <title>Generate Schedule - StageSync</title>
</head>

<body class="flex flex-col min-h-screen font-sans bg-white dark:bg-neutral-900">
  <main class="flex flex-grow bg-white dark:bg-neutral-900 sm:ml-64">
    <!-- Sidebar Section -->
    {% if user.is_admin %}
    {% include 'sidebar-admin.html' %}
    {% else %}
    {% include 'sidebar.html' %}
    {% endif %}

    <!-- Main Content Section -->
    <div class="flex-1 flex flex-col pt-18 pb-8 sm:pt-6 px-6 sm:px-10">
      <div class="flex justify-between items-center mt-2">
        <div>
          <p class="text-3xl font-bold dark:text-neutral-200">Generate Schedule</p>
          <p class="text-md text-neutral-500 py-4 dark:text-neutral-400">
            Generate new schedules, make direct edits to existing ones, or discard your changes.
          </p>
        </div>
        <form action="{{ url_for('generate') }}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
          <div class="flex justify-between items-center">
            <button type="button" id="discardBtn"
              class="text-indigo-500 font-semibold border-2 border-indigo-500 hover:bg-indigo-100 rounded-md 
              text-sm py-2 px-4 text-center me-2 mb-2 dark:hover:bg-indigo-950 dark:hover:text-indigo-400 
              dark:hover:border-indigo-400 transition duration-300"
              data-modal-target="discard-modal" data-modal-toggle="discard-modal">
              Discard
            </button>
            <button type="submit" id="generateBtn" 
            class="text-neutral-50 font-semibold border-2 border-indigo-500 bg-indigo-500 hover:bg-indigo-700 
            hover:border-indigo-700 rounded-md text-sm py-2 px-4 text-center mb-2 transition duration-300 me-2 mb-2">
              Generate
            </button>
            <button type="button" data-modal-target="publish-modal" data-modal-toggle="publish-modal" id="publishBtn"
              class="text-neutral-50 font-semibold border-2 border-indigo-700 bg-indigo-700 hover:bg-indigo-900 
              hover:border-indigo-900 rounded-md text-sm py-2 px-4 text-center mb-2 transition duration-300">
              Publish
            </button>
          </div>
        </form>
        {% include 'flash-alerts.html' %}
      </div>

      <div id="discard-modal" tabindex="-1"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
          <div class="relative bg-white rounded-md shadow-sm dark:bg-neutral-800">
            <button type="button"
              class="absolute top-3 end-2.5 text-neutral-400 bg-transparent hover:bg-neutral-200 hover:text-neutral-900 rounded-md text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-neutral-600 dark:hover:text-neutral-50"
              data-modal-hide="discard-modal">
              <i class="bx bx-x bx-sm"></i>
              <span class="sr-only">Close modal</span>
            </button>
            <div class="p-4 md:p-5 text-center">
              <svg class="mx-auto mb-4 text-neutral-400 w-12 h-12 dark:text-neutral-200" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
              <h3 class="mb-5 text-lg font-normal text-neutral-500 dark:text-neutral-400">Are you sure you want to
                discard this schedule?</h3>
              <button data-modal-hide="discard-modal" type="button" id="discard-button"
                class="text-neutral-50 bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-md text-sm inline-flex items-center px-5 py-2.5 text-center">
                Yes, I'm sure
              </button>
              <button data-modal-hide="discard-modal" type="button"
                class="py-2.5 px-5 ms-3 text-sm font-medium text-neutral-900 focus:outline-none bg-white rounded-md border border-neutral-200 hover:bg-neutral-100 hover:text-indigo-700 focus:z-10 focus:ring-4 focus:ring-neutral-100 dark:focus:ring-neutral-700 dark:bg-neutral-800 dark:text-neutral-400 dark:border-neutral-600 dark:hover:text-neutral-50 dark:hover:bg-neutral-700">
                No, cancel</button>
            </div>
          </div>
        </div>
      </div>


      <div id="publish-modal" tabindex="-1"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center
        items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
          <div class="relative bg-white rounded-md shadow-sm dark:bg-neutral-800">
            <button type="button"
              class="absolute top-3 end-2.5 text-neutral-400 bg-transparent hover:bg-neutral-200 
              hover:text-neutral-900 rounded-md text-sm w-8 h-8 ms-auto inline-flex justify-center items-center 
              dark:hover:bg-neutral-600 dark:hover:text-neutral-50"
              data-modal-hide="publish-modal">
              <i class="bx bx-x bx-sm"></i>
              <span class="sr-only">Close modal</span>
            </button>
            <div class="p-4 md:p-5 text-center">
              <svg class="mx-auto mb-4 text-neutral-400 w-12 h-12 dark:text-neutral-200" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
              <h3 class="mb-5 text-lg font-normal text-neutral-500 dark:text-neutral-400">Are you sure you want to
                publish this schedule?</h3>
              <button data-modal-hide="publish-modal" type="button" id="publish-button"
                class="text-neutral-50 bg-green-600 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-md text-sm inline-flex items-center px-5 py-2.5 text-center">
                Yes, publish it
              </button>
              <button data-modal-hide="publish-modal" type="button"
                class="py-2.5 px-5 ms-3 text-sm font-medium text-neutral-900 focus:outline-none bg-white rounded-md border border-neutral-200 hover:bg-neutral-100 hover:text-indigo-700 focus:z-10 focus:ring-4 focus:ring-neutral-100 dark:focus:ring-neutral-700 dark:bg-neutral-800 dark:text-neutral-400 dark:border-neutral-600 dark:hover:text-neutral-50 dark:hover:bg-neutral-700">
                No, cancel</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Add Event Modal -->
      <div id="event-modal" tabindex="-1" aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 
        justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
          <div class="relative bg-white rounded-md shadow-sm dark:bg-neutral-800">
            <!-- Modal Header -->
            <div
              class="flex items-center justify-between p-4 md:p-5 border-b border-b-2 rounded-t dark:border-neutral-700 border-neutral-200">
              <h3 class="text-lg font-semibold text-neutral-900 dark:text-neutral-50">Add New Event</h3>
              <button type="button"
                class="text-neutral-400 bg-transparent hover:bg-neutral-200 hover:text-neutral-900 
                rounded-md text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-neutral-600 dark:hover:text-neutral-50"
                data-modal-toggle="event-modal">
                <i class="bx bx-x bx-sm"></i>
              </button>
            </div>

            <!-- Modal Body -->
            <form id="event-form" class="p-4 md:p-5">
              <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
                <div>
                  <label for="event-title"
                    class="block mb-2 text-sm font-medium text-neutral-900 dark:text-neutral-50">
                      Title <span class="text-red-500">*</span>
                  </label>
                  <input type="text" id="event-title" required
                    class="bg-neutral-50 border border-neutral-200 text-neutral-900 text-sm 
                    rounded-md focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 
                    dark:bg-neutral-700 dark:border-neutral-700 dark:text-neutral-200 border-2" />
                </div>
                <div>
                  <label for="location"
                    class="block mb-2 text-sm font-medium text-neutral-900 dark:text-neutral-50">
                    Location <span class="text-red-500">*</span>
                  </label>
                  <input type="text" id="location"
                    class="bg-neutral-50 border border-neutral-200 text-neutral-900 text-sm 
                    rounded-md focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 
                    dark:bg-neutral-700 dark:border-neutral-700 dark:text-neutral-200 border-2"
                    required />
                </div>
                <div>
                  <label for="start-time" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-neutral-50">
                    Start Time (EST) <span class="text-red-500">*</span>
                  </label>
                  <input type="datetime-local" id="start-time"
                    class="bg-neutral-50 border border-neutral-200 text-neutral-900 text-sm 
                    rounded-md focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 
                    dark:bg-neutral-700 dark:border-neutral-700 dark:text-neutral-200 border-2" required>
                </div>
                <div>
                  <label for="end-time" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-neutral-50">
                    End Time (EST) <span class="text-red-500">*</span>
                  </label>
                  <input type="datetime-local" id="end-time"
                    class="bg-neutral-50 border border-neutral-200 text-neutral-900 text-sm 
                    rounded-md focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 
                    dark:bg-neutral-700 dark:border-neutral-700 dark:text-neutral-200 border-2" required>
                </div>
                <div>
                  <label for="group" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-neutral-50">
                    Group
                  </label>
                  <select id="group" name="selected_netid"
                    class="bg-neutral-50 border border-neutral-200 text-neutral-900 text-sm 
                    rounded-md focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 
                    dark:bg-neutral-700 dark:border-neutral-700 dark:text-neutral-200 border-2">
                    <option value="" disabled selected>Select a group</option>
                    {% for groupid, group_name in group_names.items() %}
                    <option value="{{ groupid }}" data="{{ group_name }}">
                      {{ group_name }}
                    </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <button type="submit"
                class="text-neutral-50 bg-indigo-500 hover:bg-indigo-700 focus:ring-4 focus:outline-none 
                focus:ring-indigo-500 font-medium rounded-md text-sm px-5 py-2.5 text-center dark:bg-indigo-600 
                dark:hover:bg-indigo-700 dark:focus:ring-indigo-800 transition duration-300">
                Add Event
              </button>
            </form>
          </div>
        </div>
      </div>

      <!-- Edit Event Modal -->
      <div id="edit-event-modal" tabindex="-1" aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 
        justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
          <div class="relative bg-white rounded-md shadow-sm dark:bg-neutral-800">
            <!-- Modal Header -->
            <div
              class="flex items-center justify-between p-4 md:p-5 border-b border-b-2 rounded-t dark:border-neutral-600 border-neutral-200">
              <h3 class="text-lg font-semibold text-neutral-900 dark:text-neutral-50">Edit Event</h3>
              <button type="button"
                class="text-neutral-400 bg-transparent hover:bg-neutral-200 hover:text-neutral-900 rounded-md text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-neutral-600 dark:hover:text-neutral-50"
                data-modal-toggle="edit-event-modal">
                <i class="bx bx-x bx-sm"></i>
              </button>
            </div>

            <!-- Modal Body -->
            <form id="edit-event-form" class="p-4 md:p-5">
              <input type="hidden" id="edit-event-id" />

              <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
                <div>
                  <label for="edit-event-title"
                    class="block mb-2 text-sm font-medium text-neutral-900 dark:text-neutral-50">
                    Title <span class="text-red-500">*</span>
                  </label>
                  <input type="text" id="edit-event-title" required
                    class="bg-neutral-50 border border-neutral-200 text-neutral-900 text-sm 
                    rounded-md focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 
                    dark:bg-neutral-700 dark:border-neutral-700 dark:text-neutral-200 border-2" />
                </div>
                <div>
                  <label for="edit-location"
                    class="block mb-2 text-sm font-medium text-neutral-900 dark:text-neutral-50">
                    Location <span class="text-red-500">*</span>
                  </label>
                  <input type="text" id="edit-location"
                    class="bg-neutral-50 border border-neutral-200 text-neutral-900 text-sm 
                    rounded-md focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 
                    dark:bg-neutral-700 dark:border-neutral-700 dark:text-neutral-200 border-2"
                    required />
                </div>
                <div>
                  <label for="edit-start-time"
                    class="block mb-2 text-sm font-medium text-neutral-900 dark:text-neutral-50">
                    Start Time (EST) <span class="text-red-500">*</span>
                  </label>
                  <input type="datetime-local" id="edit-start-time"
                    class="bg-neutral-50 border border-neutral-200 text-neutral-900 text-sm 
                    rounded-md focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 
                    dark:bg-neutral-700 dark:border-neutral-700 dark:text-neutral-200 border-2"
                    required />
                </div>
                <div>
                  <label for="edit-end-time" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-neutral-50">
                    End Time (EST) <span class="text-red-500">*</span>
                  </label>
                  <input type="datetime-local" id="edit-end-time"
                    class="bg-neutral-50 border border-neutral-200 text-neutral-900 text-sm 
                    rounded-md focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 
                    dark:bg-neutral-700 dark:border-neutral-700 dark:text-neutral-200 border-2"
                    required />
                </div>
                <div>
                  <label for="edit-group"
                    class="block mb-2 text-sm font-medium text-neutral-900 dark:text-neutral-50">Group</label>
                  <select id="edit-group" name="edit_group"
                    class="bg-neutral-50 border border-neutral-200 text-neutral-900 text-sm 
                    rounded-md focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 
                    dark:bg-neutral-700 dark:border-neutral-700 dark:text-neutral-200 border-2">
                    <option value="disabled" disabled selected>Select a group</option>
                    {% for groupid, group_name in group_names.items() %}
                    <option value="{{ groupid }}">{{ group_name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="flex justify-end gap-4">
                <button type="button" id="delete-event-button"
                  class="text-neutral-50 bg-red-500 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-500 font-medium rounded-md text-sm px-5 py-2.5 text-center transition duration-300">
                  Delete
                </button>
                <button type="submit" id="update-event-button"
                  class="text-neutral-50 bg-indigo-500 hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-indigo-500 font-medium rounded-md text-sm px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800 transition duration-300">
                  Update
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>


      <!-- Calendar -->
      <div class="flex justify-center mt-4 flex-grow">
        <div class="w-full">
          <div id="calendar" class="pt-4 h-5/6"></div>
        </div>
      </div>
    </div>
  </main>

  <script src="{{ url_for('static', filename='js/draft-calendar.js') }}"></script>
  <script src="{{ url_for('static', filename='js/flash-alerts.js') }}"></script>
</body>

</html>