<!DOCTYPE html>
<html lang="en">

<head>
  <!--Dark mode toggle-->
  <script>
    (function() {
      const savedTheme = localStorage.getItem('theme');
      const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
      const html = document.documentElement;
  
      if (savedTheme === 'dark' || (!savedTheme && prefersDark)) {
        html.classList.add('dark');
      } else {
        html.classList.remove('dark');
      }
    })();
  </script>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="csrf-token" content="{{ csrf_token() }}">

  <!-- Boxicons -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

  <!-- FullCalendar Styles and Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.15/index.global.js"
    integrity="sha512-3I+0zIxy2IkeeCvvhXUEu+AFT3zAGuHslHLDmM8JBv6FT7IW6WjhGpUZ55DyGXArYHD0NshixtmNUWJzt0K32w=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Flowbite -->
  <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}" />
  <link rel="icon" href="{{ url_for('static', filename='img/Logo.png') }}" />

  <!-- Set Title of Page -->
  <title>Manage Admins - StageSync</title>
</head>

<body class="flex flex-col min-h-screen font-sans bg-white dark:bg-neutral-900">
  <main class="flex flex-grow bg-white dark:bg-neutral-900">
    <!-- Sidebar Section -->
    {% if user.is_admin %}
    {% include 'sidebar-admin.html' %}
    {% else %}
    {% include 'sidebar.html' %}
    {% endif %}

    <!-- Main Content Section -->
    <div class="flex-1 flex flex-col pt-18 pb-8 sm:pt-6 px-6 sm:px-10">
      <div class="flex justify-between items-center mt-2">
        <div>
          <p class="text-3xl font-bold dark:text-neutral-200">Manage Admins</p>
          <p class="text-md text-neutral-500 pt-4 dark:text-neutral-400">
            Manage members with administrator permissions below
          </p>
        </div>

        {% include 'flash-alerts.html' %}
      </div>

      <hr class="h-px my-6 bg-neutral-200 border-0 dark:bg-neutral-700">

      <div class="flex justify-between items-center">
        <div>
          <p class="text-xl font-bold dark:text-neutral-200">Remove Admins</p>
          <p class="text-md text-neutral-500 py-4">
            To remove an admin, check the box next to their name in the table below, then click the "Remove" button at the
            bottom.
          </p>
        </div>
      </div>

      <div class="flex max-h-2/3 overflow-y-auto w-full">
        <!-- table code from https://flowbite.com/docs/components/tables/ -->
        <table class="w-full text-sm text-left rtl:text-right text-neutral-500 dark:text-neutral-400 mt-4">
          <thead class="text-xs text-neutral-700 uppercase bg-neutral-50 dark:bg-neutral-700 dark:text-neutral-400">
            <tr>
              <th scope="col" class="px-6 py-3"></th>
              <th scope="col" class="px-6 py-3">netid</th>
              <th scope="col" class="px-6 py-3">First Name</th>
              <th scope="col" class="px-6 py-3">Last Name</th>
            </tr>
          </thead>
          <tbody>
            {% for admin in admins %}
            <tr class="bg-white border-b dark:bg-neutral-800 dark:border-neutral-700 border-neutral-200">
              <td class="px-6 py-4">
                <input type="checkbox"
                  class="admin-checkbox text-indigo-500 bg-neutral-100 border-neutral-300 rounded-sm focus:ring-indigo-500 dark:focus:ring-indigo-600 dark:ring-offset-neutral-800 focus:ring-2 dark:bg-neutral-700 dark:border-neutral-600 rounded-xs"
                  value="{{ admin.netid }}" />
              </td>
              <td class="px-6 py-4">{{ admin.netid }}</td>
              <td class="px-6 py-4">{{ admin.first_name }}</td>
              <td class="px-6 py-4">{{ admin.last_name }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="flex justify-between mt-6 mb-4">
        <button id="remove-admin-button"
          class="text-white font-sm border-2 bg-indigo-500 border-indigo-500 hover:bg-indigo-700 hover:border-indigo-700 py-2 px-4 rounded-md">
          Remove Selected Admins
        </button>
      </div>

      <hr class="h-px my-6 bg-neutral-200 border-0 dark:bg-neutral-700">

      <div class="flex justify-between items-center">
        <div>
          <p class="text-xl font-bold dark:text-neutral-200">Add Members</p>
          <p class="text-md text-neutral-500 py-4">
            Select the member you want to give admin permissions to from the dropdown, then click the "Authorize" button.
          </p>
        </div>
      </div>

      <div class="flex justify-start mt-4">
        <form id="remove-admin-form" method="POST" action="{{ url_for('manage_users') }}">
          <input type="hidden" name="netids_to_remove" id="netids-to-remove" />
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        </form>
        <form id="add-id-form" method="POST" action="{{ url_for('manage_users') }}" class="flex items-center">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
          <select id="memberDropdown" name="selected_netid"
            class="w-60 px-4 py-2 font-sm border bg-neutral-50 border-neutral-200 focus:ring-indigo-500 focus:border-indigo-500 rounded-md text-neutral-700 dark:bg-neutral-800 dark:text-white"
            required>
            <option value="" disabled selected>Select a member</option>
            {% for member in members %}
            {% if member not in admins %}
            <option value="{{ member.netid }}" data-firstname="{{ member.first_name }}"
              data-lastname="{{ member.last_name }}">
              {{ member.first_name }} {{ member.last_name }}
            </option>
            {% endif %}
            {% endfor %}
          </select>
          <button type="submit"
            class="ml-2 px-4 py-2 bg-indigo-500 text-white border-2 border-indigo-500 hover:bg-indigo-700 hover:border-indigo-700 rounded-md"
            id="addAdminBtn">
            Add Admin
          </button>
        </form>
      </div>
    </div>
  </main>

  <script src="{{ url_for('static', filename='js/manage-admins.js') }}"></script>
  <script src="{{ url_for('static', filename='js/flash-alerts.js') }}"></script>
</body>

</html>