<!-- Sidebar Links -->
<nav class="h-full min-h-screen p-4">
  <!-- Logo Section -->
  <a href="{{ url_for('home') }}" class="flex items-center space-x-2 p-1 mb-6">
    <img
      class="h-auto w-1/6"
      src="{{ url_for('static', filename='img/logo.png') }}"
      alt="Logo"
    />
    <span class="text-2xl font-bold text-neutral-950 ml-2">StageSync</span>
  </a>

  <!-- Settings Section -->
  <ul class="space-y-2">
    <li>
      <a
        href="{{ url_for('settings') }}"
        class="flex items-center text-neutral-800 hover:bg-neutral-200 p-1 mb-1 rounded-md transition"
      >
        <i class="bx bxs-cog bx-sm mr-2"></i>
        <span>Settings</span>
      </a>
    </li>

    <!-- Main Menu Label -->
    <li class="mt-4 pt-2 text-xs uppercase font-bold text-neutral-500">
      Main Menu
    </li>

    <!-- Home Button -->
    <li>
      <a
        href="{{ url_for('home') }}"
        class="flex items-center text-neutral-800 hover:bg-neutral-200 p-1 mb-1 rounded-md transition"
      >
        <i class="bx bxs-home bx-sm mr-2"></i>
        <span>Home</span>
      </a>
    </li>

    <!-- Update Button -->
    <li>
      <a
        href="{{ url_for('update') }}"
        class="flex items-center text-neutral-800 hover:bg-neutral-200 p-1 mb-1 rounded-md transition"
      >
        <i class="bx bxs-edit bx-sm mr-2"></i>
        <span>Update Availability</span>
      </a>
    </li>

    <!-- View Schedule Button -->
    <li>
      <a
        href="{{ url_for('view') }}"
        class="flex items-center text-neutral-800 hover:bg-neutral-200 p-1 mb-1 rounded-md transition"
      >
        <i class="bx bxs-calendar-event bx-sm mr-2"></i>
        <span>View Schedule</span>
      </a>
    </li>

    <!-- Admin Menu Label -->
    <li class="mt-4 pt-2 text-xs uppercase font-bold text-neutral-500">
      Admin Options
    </li>

    <!-- Upload Reho Info Button -->
    <li>
      <a
        href="{{ url_for('upload') }}"
        class="flex items-center text-neutral-800 hover:bg-neutral-200 p-1 mb-1 rounded-md transition"
      >
        <i class="bx bxs-cloud-upload bx-sm mr-2"></i>
        <span>Upload Rehearsal Data</span>
      </a>
    </li>

    <!-- Generate Schedule Button -->
    <li>
      <a
        href="{{ url_for('generate') }}"
        class="flex items-center text-neutral-800 hover:bg-neutral-200 p-1 mb-1 rounded-md transition"
      >
        <i class="bx bxs-calendar bx-sm mr-2"></i>
        <span>Generate Schedule</span>
      </a>
    </li>

    <!-- Published Schedule Button -->
    <li>
      <a
        href="{{ url_for('publish') }}"
        class="flex items-center text-neutral-800 hover:bg-neutral-200 p-1 mb-1 rounded-md transition"
      >
        <i class="bx bxs-cloud-upload bx-sm mr-2"></i>
        <span>Published Schedule</span>
      </a>
    </li>

    <!-- Manage Members Dropdown -->
    <li class="relative group">
      <button
        class="w-full flex items-center justify-between text-neutral-800 hover:bg-neutral-200 p-1 mb-1 rounded-md transition-all duration-500"
      >
        <div class="flex items-center">
          <i class="bx bxs-user-detail bx-sm mr-2"></i>
          <span>Manage Members</span>
        </div>
        <i class="bx bx-chevron-down bx-sm"></i>
      </button>
      <!-- Dropdown Menu -->
      <ul
        class="hidden group-hover:block absolute left-0 w-56 bg-white shadow-lg rounded-md mt-1 p-1 mb-1 mb-1 space-y-1 transition-all duration-500 ease-in-out opacity-0 group-hover:opacity-100"
      >
        <li>
          <a
            href="{{ url_for('manage_users') }}"
            class="block px-4 py-1 text-neutral-800 hover:bg-neutral-200 rounded-md"
          >
            Add/Remove Admins
          </a>
        </li>
        <li>
          <a
            href="{{ url_for('manage_groups') }}"
            class="block px-4 py-1 text-neutral-800 hover:bg-neutral-200 rounded-md"
          >
            Groups
          </a>
        </li>
        <li>
          <a
            href="{{ url_for('availability') }}"
            class="block px-4 py-1 text-neutral-800 hover:bg-neutral-200 rounded-md"
          >
            View Availability
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
