<button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button"
   class="inline-flex items-center absolute p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
   <span class="sr-only">Open sidebar</span>
   <i class='bx bx-menu bx-md'></i>
</button>

<aside id="logo-sidebar"
   class="hidden sm:block size-full transition-transform -translate-x-full sm:translate-x-0 bg-neutral-50 min-h-screen dark:bg-neutral-800"
   aria-label="Sidebar">
   <div class="hidden sm:block size-full px-10 py-8 overflow-y-auto">
      <!-- Logo Section -->
      <a href="{{ url_for('home') }}" class="flex items-center space-x-2 p-1 mb-6">
         <img class="size-1/5" src="/static/img/Logo.png" alt="Logo" />
         <span
            class="text-2xl self-center whitespace-nowrap font-bold text-neutral-950 dark:text-neutral-200 ml-2">StageSync</span>
      </a>

      <!-- Settings Section -->
      <ul class="space-y-2">
         <li>
            <a href="{{ url_for('settings') }}"
               class="flex items-center text-neutral-800 hover:bg-neutral-200 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:bg-opacity-50 p-1 mb-1 rounded-md transition">
               <i class="bx bxs-cog bx-sm mr-2"></i>
               <span>Settings</span>
            </a>
         </li>

         <!-- Main Menu Label -->
         <li
            class="mt-4 pt-2 text-xs uppercase font-bold text-neutral-500 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:bg-opacity-50">
            Main Menu
         </li>

         <!-- Home Button -->
         <li>
            <a href="{{ url_for('home') }}"
               class="flex items-center text-neutral-800 hover:bg-neutral-200 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:bg-opacity-50 p-1 mb-1 rounded-md transition">
               <i class="bx bxs-home bx-sm mr-2"></i>
               <span>Home</span>
            </a>
         </li>

         <!-- Update Button -->
         <li>
            <a href="{{ url_for('update') }}"
               class="flex items-center text-neutral-800 hover:bg-neutral-200 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:bg-opacity-50 p-1 mb-1 rounded-md transition">
               <i class="bx bxs-edit bx-sm mr-2"></i>
               <span>Update Availability</span>
            </a>
         </li>

         <!-- View Schedule Button -->
         <!-- <li>
            <a href="{{ url_for('view') }}"
               class="flex items-center text-neutral-800 hover:bg-neutral-200 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:bg-opacity-50 p-1 mb-1 rounded-md transition">
               <i class="bx bxs-calendar-event bx-sm mr-2"></i>
               <span>View Schedule</span>
            </a>
         </li> -->
      </ul>
   </div>
</aside>