<!-- Sidebar Links -->
<nav class="h-full min-h-screen p-4">
  <!-- Logo Section -->
  <a href="{{ url_for('home') }}" class="flex items-center space-x-2 p-1 mb-6">
    <img
      class="h-auto w-1/6"
      src="/static/img/Logo.png"
      alt="Logo"
    />
    <span class="text-2xl font-bold text-neutral-950 ml-2">StageSync</span>
  </a>

  <!-- Settings Section -->
  <ul class="space-y-2">
    <li>
      <a
        href="{{ url_for('settings') }}"
        class="flex items-center text-neutral-800 hover:bg-neutral-200 p-1 mb-1 rounded-md transition"
      >
        <i class="bx bxs-cog bx-sm mr-2"></i>
        <span>Settings</span>
      </a>
    </li>

    <!-- Main Menu Label -->
    <li class="mt-4 pt-2 text-xs uppercase font-bold text-neutral-500">
      Main Menu
    </li>

    <!-- Home Button -->
    <li>
      <a
        href="{{ url_for('home') }}"
        class="flex items-center text-neutral-800 hover:bg-neutral-200 p-1 mb-1 rounded-md transition"
      >
        <i class="bx bxs-home bx-sm mr-2"></i>
        <span>Home</span>
      </a>
    </li>

    <!-- Update Button -->
    <li>
      <a
        href="{{ url_for('update') }}"
        class="flex items-center text-neutral-800 hover:bg-neutral-200 p-1 mb-1 rounded-md transition"
      >
        <i class="bx bxs-edit bx-sm mr-2"></i>
        <span>Update Availability</span>
      </a>
    </li>

    <!-- View Schedule Button -->
    <li>
      <a
        href="{{ url_for('view') }}"
        class="flex items-center text-neutral-800 hover:bg-neutral-200 p-1 mb-1 rounded-md transition"
      >
        <i class="bx bxs-calendar-event bx-sm mr-2"></i>
        <span>View Schedule</span>
      </a>
    </li>
  </ul>
</nav>
