<!-- Sidebar Links -->
<nav class="navbar">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <ul class="navbar-nav ml-auto text-left w-100 justify-content-between ml-lg-0 d-lg-flex align-items-left">

        <!-- Logo Section -->
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <div class="logo-container p-2 mb-4">
                <div class="logo">
                  <img class="icon-container" height="35" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
                  <div class="text-wrapper fs-4 fw-bold">StageSync</div>
                </div>
            </div>
        </a>

        <!-- Settings Section -->
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="{{ url_for('settings') }}">
              <i class='bx bxs-cog bx-sm px-2'></i> 
              Settings
          </a>
        </li>

        <!-- Main Menu Label -->
        <div class="nav-item">
          <span class="d-flex align-items-center pt-4 p-2">
            <h6>MAIN MENU</h6>
          </span>
        </div>

        <!-- Home Button -->
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="{{ url_for('home') }}">
              <i class='bx bxs-home bx-sm px-2' ></i>
              Home
          </a>
        </li>

        <!-- Update Button -->
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="{{ url_for('update') }}">
              <i class='bx bxs-edit bx-sm px-2' ></i>
              Update Availability
          </a>
        </li>

        <!-- View Schedule Button -->
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="{{ url_for('view') }}">
              <i class='bx bxs-calendar-event bx-sm px-2' ></i>
              View Schedule
          </a>
        </li>

        <!-- Admin Menu Label -->
        <div class="nav-item">
          <span class="d-flex align-items-center pt-4 p-2">
            <h6>ADMIN OPTIONS</h6>
          </span>
        </div>

        <!-- Upload Reho Info Button -->
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="{{ url_for('upload') }}">
              <i class='bx bxs-cloud-upload bx-sm px-2' ></i>
              Upload Rehearsal Data
          </a>
        </li>

        <!-- Generate Schedule Button -->
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="{{ url_for('generate') }}">
              <i class='bx bxs-calendar bx-sm px-2' ></i>
              Generate Schedule
          </a>
        </li>

        <!-- Published Schedule Button -->
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="{{ url_for('publish') }}">
              <i class='bx bxs-share-alt bx-sm px-2' ></i>
              Published Schedule
          </a>
        </li>

        <!-- Manage Members Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              <i class='bx bxs-user-detail bx-sm px-2'></i>
              Manage Members
            </a>
            <!-- Dropdown Menu -->
            <ul class="dropdown-menu dropdown-menu-end bg-light" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{{ url_for('manage_users') }}">Add/Remove Admins</a></li>
                <li><a class="dropdown-item" href="{{ url_for('manage_groups') }}">Groups</a></li>
                <li><a class="dropdown-item" href="{{ url_for('availability') }}">View Availability</a></li>
            </ul>
        </li>

      </ul>
    </div>
  </nav>