<!-- Hamburger Button -->
<button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button"
   class="fixed top-4 left-4 z-50 inline-flex items-center py-1 px-2 text-sm text-neutral-950 bg-opacity-0 rounded-md hover:bg-neutral-200 sm:hidden focus:outline-none dark:text-neutral-200 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:ring-neutral-900 bg-white dark:bg-neutral-800">
   <span class="sr-only">Open sidebar</span>
   <i class='bx bx-menu bx-md'></i>
</button>

<!-- Sidebar -->
<aside id="logo-sidebar"
   class="fixed top-0 left-0 z-40 w-64 h-screen bg-neutral-50 dark:bg-neutral-800 transform -translate-x-full sm:translate-x-0 transition-transform duration-300 ease-in-out"
   aria-label="Sidebar">
   <div class="h-full px-6 py-6 flex flex-col justify-between overflow-y-auto bg-neutral-50 dark:bg-neutral-800">
      <!-- Logo Section -->
      <a href="{{ url_for('home') }}" class="flex items-center pt-12 sm:pt-2 ps-2.5 mb-5 group">
         <img class="h-6 me-3 sm:h-7" src="/static/img/Logo.png" alt="StageSync Logo" />
         <span
            class="self-center text-2xl font-bold whitespace-nowrap dark:text-neutral-50 group-hover:text-neutral-800 dark:group-hover:text-white">StageSync</span>
      </a>

      <div class="flex flex-col justify-between flex-grow">
         <ul class="space-y-2 text-sm">
            <!-- Settings Section -->
            <li>
               <a href="{{ url_for('settings') }}"
                  class="flex items-center py-1 px-2 text-neutral-800 rounded-md hover:bg-neutral-200 dark:text-neutral-200 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 group">
                  <i class="shrink-0 bx bxs-cog bx-sm transition duration-75"></i>
                  <span class="flex-1 ms-3 whitespace-nowrap">Settings</span>
               </a>
            </li>
            <!-- Main Menu Label -->
            <li class="flex items-center p-2 text-xs uppercase font-bold text-neutral-800 dark:text-neutral-200">
               Main Menu
            </li>
            <!-- Home Button -->
            <li>
               <a href="{{ url_for('home') }}"
                  class="flex items-center py-1 px-2 text-neutral-800 rounded-md hover:bg-neutral-200 dark:text-neutral-200 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 group">
                  <i class="shrink-0 bx bxs-home bx-sm transition duration-75"></i>
                  <span class="flex-1 ms-3 whitespace-nowrap">Home</span>
               </a>
            </li>
            <!-- Update Button -->
            <li>
               <a href="{{ url_for('update') }}"
                  class="flex items-center py-1 px-2 text-neutral-800 rounded-md hover:bg-neutral-200 dark:text-neutral-200 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 group">
                  <i class="shrink-0 bx bxs-edit bx-sm transition duration-75"></i>
                  <span class="flex-1 ms-3 whitespace-nowrap">Update Availability</span>
               </a>
            </li>
         </ul>
      </div>

      <div class="mt-6">
         <form method="POST" action="{{ url_for('logoutapp') }}"
            class="flex items-center py-1 px-2 text-neutral-800 rounded-md hover:bg-neutral-200 dark:text-neutral-200 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 group">
            <i class="shrink-0 bx bx-log-out bx-sm transition duration-75"></i>
            <span class="flex-1 ms-3 whitespace-nowrap text-sm">Log Out</span>
         </form>
      </div>
   </div>
</aside>