<!DOCTYPE html>
<html lang="en">

<head>
  <!--Dark mode toggle-->
  <script>
    (function () {
      const savedTheme = localStorage.getItem('theme');
      const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
      const html = document.documentElement;

      if (savedTheme === 'dark' || (!savedTheme && prefersDark)) {
        html.classList.add('dark');
      } else {
        html.classList.remove('dark');
      }
    })();
  </script>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="csrf-token" content="{{ csrf_token() }}">

  <!-- Boxicons -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

  <!-- Flowbite -->
  <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

  <!-- FullCalendar Styles and Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.15/index.global.js"
    integrity="sha512-3I+0zIxy2IkeeCvvhXUEu+AFT3zAGuHslHLDmM8JBv6FT7IW6WjhGpUZ55DyGXArYHD0NshixtmNUWJzt0K32w=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}" />
  <link rel="icon" href="{{ url_for('static', filename='img/Logo.png') }}" />

  <!-- Set Title of Page -->
  <title>Update Availability - StageSync</title>
</head>

<body class="flex flex-col min-h-screen font-sans bg-white dark:bg-neutral-900">
  <main class="flex flex-grow bg-white dark:bg-neutral-900 sm:ml-64">
    <!-- Sidebar Section -->
    {% if user.is_admin %}
    {% include 'sidebar-admin.html' %}
    {% else %}
    {% include 'sidebar.html' %}
    {% endif %}

    <!-- Main Content Section -->
    <div class="flex-1 flex flex-col pt-18 pb-8 sm:pt-6 px-6 sm:px-10">
      <div class="flex justify-between items-center mt-2">
        <div>
          <p class="text-3xl font-bold dark:text-neutral-200">Update Availability</p>
          <p class="text-md text-neutral-500 pt-4 dark:text-neutral-400">
            List all conflicts after 5 PM on weekdays and anytime on weekends in the table(s) below.
          </p>
        </div>

        {% include 'flash-alerts.html' %}
      </div>

      <form action="{{ url_for('update') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <!-- Tabs Navigation -->
        <div
          class="text-sm font-medium text-center mt-4 text-neutral-500 border-b border-neutral-200 dark:text-neutral-200">
          <ul class="flex flex-wrap -mb-px">
            <li class="me-2">
              <button type="button" id="weekly-tab"
                class="inline-block p-4 border-b-2 border-indigo-500 text-indigo-500 hover:text-neutral-600 hover:border-neutral-300"
                onclick="showTab('weekly')">
                Weekly Conflicts
              </button>
            </li>
            <li class="me-2">
              <button type="button" id="one-time-tab"
                class="inline-block p-4 border-b-2 border-transparent hover:text-neutral-600 hover:border-neutral-300 dark:text-neutral-200"
                onclick="showTab('one-time')">
                One-Time Conflicts
              </button>
            </li>
          </ul>
        </div>

        <!-- Weekly Conflicts Section -->
        <div id="weekly-content" class="tab-content dark:text-neutral-200">
          <div class="flex justify-between items-center mt-6">
            <div>
              <p class="text-xl font-bold dark:text-neutral-200">Weekly Conflict Format</p>
              <p class="text-md pt-4 dark:text-neutral-400">
                Please list your weekly conflicts in the following format:
              </p>
            </div>
          </div>

          <div class="flex justify-between items-center mt-2 dark:text-neutral-400">
            <ul class="list-disc pl-5 mt-2">
              <li>
                <strong>Start Time</strong> - <strong>End Time</strong> for each
                conflict period.
              </li>
              <li>
                Separate multiple conflict periods for the same day with a
                semicolon (<code>;</code>).
              </li>
              <li>
                For each conflict period, specify the start and end times using
                <strong>hour:minute(AM/PM)</strong>.
              </li>
            </ul>
          </div>

          <div class="flex justify-right items-center mt-2 dark:text-neutral-400">
            <strong>Example:</strong>&nbsp;6:00PM-8:00PM; 10:00PM-11:00PM (This
            means two separate conflicts on the same day.)
          </div>

          <table class="w-full text-sm text-left mt-6 rtl:text-right text-neutral-500 dark:text-neutral-400">
            <tbody>
              {% for day in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %}
              <tr class="bg-white dark:bg-neutral-800 dark:border-neutral-700 border-neutral-50">
                <th
                  class="px-6 py-4 bg-neutral-50 dark:bg-neutral-700 dark:text-neutral-400 uppercase text-sm text-neutral-700 w-20">
                  {{ day }}
                </th>
                <td class="px-6 py-4">
                  <input
                    class="w-full border-b-2 border-neutral-200 border-t-0 border-x-0 dark:bg-neutral-800 dark:border-neutral-600"
                    type="text" name="{{ day.lower() }}_conflicts" value="{{ '; '.join(weekly_conflicts[day]) }}" />
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <!-- One-Time Conflicts Section -->
        <div id="one-time-content" class="tab-content hidden dark:text-neutral-200">
          <div class="flex justify-between items-center mt-6 ">
            <div>
              <p class="text-xl font-bold dark:text-neutral-200">One-Time Conflict Format</p>
              <p class="text-md pt-4 dark:text-neutral-400">
                Please list your one-time conflicts in the following format:
              </p>
            </div>
          </div>

          <div class="flex justify-between items-center mt-2 dark:text-neutral-400">
            <ul class="list-disc pl-5 mt-2">
              <li>
                <strong>Start Date</strong> and <strong>End Date</strong> for
                each conflict period in the format <strong>month/day</strong>.
              </li>
              <li>
                <strong>Start Time</strong> - <strong>End Time</strong> for each
                conflict period in <strong>hour:minute(AM/PM)</strong>.
              </li>
              <li>
                Separate multiple conflict periods with a semicolon
                (<code>;</code>).
              </li>
            </ul>
          </div>




          <div class="flex justify-right items-center mt-2 dark:text-neutral-400">
            <strong>Example:</strong>&nbsp;03/15.6:00PM-8:00PM;
            03/16.10:00AM-12:00PM (This means two separate conflicts on
            different dates.)
          </div>

          <table class="w-full text-sm text-left mt-6 rtl:text-right text-neutral-500 dark:text-neutral-400">
            <thead class="text-xs text-neutral-700 uppercase bg-neutral-50 dark:bg-neutral-700 dark:text-neutral-400">
              <tr>
                <th scope="col" class="px-6 py-3">Conflict</th>
                <th scope="col" class="px-6 py-3">Notes (Optional)</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white dark:bg-neutral-800 dark:border-neutral-700 border-neutral-50">
                <td class="px-6 py-4">
                  <input
                    class="w-full border-b-2 border-neutral-200 border-t-0 border-x-0 dark:bg-neutral-800 dark:border-neutral-700"
                    type="text" name="one_time_conflict" id="one-time-conflict"
                    value="{{ '; '.join(one_time_conflicts) }}" />
                </td>
                <td class="px-6 py-4">
                  <input
                    class="w-full border-b-2 border-neutral-200 border-t-0 border-x-0 dark:bg-neutral-800 dark:border-neutral-700"
                    type="text" name="conflict_notes" value="{{ conflict_notes }}" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Buttons -->
        <div class="flex justify-center items-center mt-5">
          <button type="reset" id="discardBtn"
            class="text-indigo-500 font-semibold font-lg border-2 border-indigo-500 hover:bg-indigo-100 rounded-md text-sm py-2 px-4 text-center me-2 mb-2">
            Discard Changes
          </button>
          <button type="submit" id="saveBtn"
            class="text-white font-semibold font-lg bg-2 border-2 border-indigo-500 bg-indigo-500 hover:bg-indigo-700 hover:border-indigo-700 rounded-md text-sm py-2 px-4 text-center me-2 mb-2">
            Save Changes
          </button>
        </div>
      </form>
    </div>
  </main>

  <!-- JavaScript for Tabs and Validation -->
  <script src="{{ url_for('static', filename='js/update-avail.js') }}"></script>
  <script src="{{ url_for('static', filename='js/flash-alerts.js') }}"></script>

</body>

</html>