<!DOCTYPE html>
<html lang="en">

<head>
  <!--Dark mode toggle-->
  <script>
    (function () {
      const savedTheme = localStorage.getItem('theme');
      const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
      const html = document.documentElement;

      if (savedTheme === 'dark' || (!savedTheme && prefersDark)) {
        html.classList.add('dark');
      } else {
        html.classList.remove('dark');
      }
    })();
  </script>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="csrf-token" content="{{ csrf_token() }}">

  <!-- Boxicons -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

  <!-- FullCalendar Styles and Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.15/index.global.js"
    integrity="sha512-3I+0zIxy2IkeeCvvhXUEu+AFT3zAGuHslHLDmM8JBv6FT7IW6WjhGpUZ55DyGXArYHD0NshixtmNUWJzt0K32w=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Flowbite -->
  <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}" />
  <link rel="icon" href="{{ url_for('static', filename='img/Logo.png') }}" />

  <!-- Set Title of Page -->
  <title>Upload Rehearsal Data - StageSync</title>
</head>

<body class="flex flex-col min-h-screen font-sans bg-white dark:bg-neutral-900">
  <main class="flex flex-grow bg-white dark:bg-neutral-900">
    <!-- Sidebar Section -->
    {% if user.is_admin %}
    {% include 'sidebar-admin.html' %}
    {% else %}
    {% include 'sidebar.html' %}
    {% endif %}

    <!-- Main Content Section -->
    <div class="flex-1 flex flex-col pt-18 pb-8 sm:pt-6 px-6 sm:px-10">
      <div class="flex justify-between items-center mt-2">
        <div>
          <p class="text-3xl font-bold dark:text-neutral-200">Upload Rehearsal Data</p>
          <p class="text-md text-neutral-500 pt-4 dark:text-neutral-400">
            Download the PAC schedule spreadsheet (.xlsx), then drag and drop it below or click to upload.
          </p>
        </div>

        {% include 'flash-alerts.html' %}
      </div>

      <!-- Uploading (Drag and Drop) -->
      <div class="flex justify-center items-center mt-10">
        <div class="flex items-center justify-center w-full">
          <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data"
            class="w-1/2">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
            <label for="dropzone-file" id="dropzone-label"
              class="flex flex-col items-center justify-center w-full border-2 border-neutral-200 border-dashed rounded-md cursor-pointer bg-neutral-50 hover:bg-neutral-100 transition duration-300 dark:bg-neutral-800 dark:border-neutral-700 dark:hover:bg-neutral-600">
              <div id="dropzone-content" class="flex flex-col items-center justify-center pt-5 pb-8 my-4">
                <i class="bx bx-upload bx-sm mr-2 w-8 h-8 text-neutral-500 dark:text-neutral-200"></i>
                <p class="mb-2 text-sm text-neutral-500 dark:text-neutral-200">
                  <span class="font-semibold">Click to upload</span> or drag
                  and drop
                </p>
                <p class="text-xs text-neutral-500 dark:text-neutral-200">XLSX (MAX. 5MB)</p>
              </div>
              <input id="dropzone-file" name="file" type="file" class="hidden" accept=".xlsx" />
            </label>

            <!-- Display Selected File Name -->
            <p id="file-name" class="mt-2 text-center text-sm font-medium text-neutral-700 hidden"></p>

            <div class="flex justify-between items-center">
              <!-- Submit Button -->
              <button type="reset" id="resetBtn"
                class="mt-4 mx-2 w-full border border-2 border-indigo-500 text-indigo-500 font-bold py-2 px-4 rounded-md hover:border-indigo-700 hover:text-indigo-700 transition duration-300">
                Cancel Submission
              </button>
              <button type="submit"
                class="mt-4 mx-2 w-full bg-indigo-500 border border-2 border-indigo-500 text-white font-bold py-2 px-4 rounded-md hover:bg-indigo-500 transition duration-300">
                Upload File
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>

  <!-- Custom JS -->
  <script src="{{ url_for('static', filename='js/drag-drop.js') }}"></script>
  <script src="{{ url_for('static', filename='js/flash-alerts.js') }}"></script>
</body>

</html>